<html class="h-full">
  <head>
    <meta charset="UTF-8">
    <title>Episode 3: List and computed properties</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full grid place-items-center">
    <div id="app">
      <section v-if="inProgresseAssignments.length">
        <h2 class="font-bold mb-2">Assigments</h2>

        <ul>
          <li v-for="assignment in inProgresseAssignments" 
              :key="assignment.id">
            <label>
              {{assignment.name}}
              <input type="checkbox" v-model="assignment.complete" />
            </label>
          </li>
        </ul>
      </section>

      <section v-if="completedAssignments.length" class="mt-8">
        <h2 class="font-bold mb-2">Completed</h2>
        <ul>
          <li v-for="assignment in completedAssignments" 
              :key="assignment.id">
            <label>
              {{assignment.name}}
              <input type="checkbox" v-model="assignment.complete" />
            </label>
          </li>
        </ul>
      </section>
    </div>

    <script>
      let app = {
        data(){
          return {
            assignments: [
              {name: 'teste 1', complete: false, id:1},
              {name: 'teste 2', complete: false, id:2},
              {name: 'teste 3', complete: false, id:3},
            ]
          }
        },
        computed: {
          completedAssignments(){
            return this.assignments.filter(assignment => assignment.complete);
          },
          inProgresseAssignments(){
            return this.assignments.filter(assignment => ! assignment.complete);
          }
        }  
      };
      Vue.createApp(app).mount('#app');
    </script>
  </body>
</html>